<?xml version="1.0"?>
<config>
    <tabs>
        <upment translate="label" module="flushcdn">
            <label>Upment</label>
            <sort_order>0</sort_order>
        </upment>
    </tabs>
    <sections>
        <flush_cdn translate="label" module="flushcdn">
            <label>Flush maxCDN</label>
            <tab>upment</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <alias translate="label">
                            <label>Company Alias</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </alias>
                        <consumer_key translate="label">
                            <label>Consumer Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </consumer_key>
                        <consumer_secret translate="label">
                            <label>Consumer Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </consumer_secret>
                        <zone_id translate="label">
                            <label>Zone ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </zone_id>
                    </fields>
                </settings>
            </groups>
        </flush_cdn>
    </sections>
</config>
